* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: rgb(178, 207, 251);
    background-color: rgb(25, 30, 37);
}

img {
    width: 100%;
}

.note-app {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 16px;
    padding: 16px;
}

.note-app h1 {
    margin-bottom: 32px;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    color: rgb(33, 150, 243)
}

.note-app h2 {
    margin: 10px 0 32px 0;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    color: white;
}

.note-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em 1em;
}

.note-item {
    align-items: center;
    min-width: 160px;
    max-width: 480px;
    padding: 16px;
    border-radius: 8px;
    background-color: rgb(46, 51, 57);
}

.note-item__title {
    margin: 8px;
    font-size: x-large;
    font-weight: bold;
    color: rgb(80, 161, 245)
}

.note-item__created-at {
    margin: 8px;
    margin-bottom: 16px;
    font-size: x-small;
    color: white;
}

.note-item__body {
    margin: 8px;
    font-size: medium;
    color:rgb(255, 255, 255)
}

.note-form {
    margin: 0 auto 32px auto;
    padding: 2%;
    border: 1px dashed;
    border-radius: 8px;
    min-width: 160px;
    max-width: 600px;
}

.note-form__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0 0;
}

.note-form__label {
    margin-left: 25%;
    font-family: 'Inter', sans-serif;
    font-size: large;
    font-size: 18px;
}

.note-form__input {
    width: 100%;
    padding: 8px 0;
    margin: 0 0 0 25%;
    font-family: 'Inter', sans-serif;
}

.note-form__button {
    justify-items: right;
    align-items: end;
    text-align: center;
    margin: 3% 25% 0 0;
    margin-left: auto;
    margin-right: 25%;
    width: 100px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    padding: 2% 2%;
    font-family: 'Inter', sans-serif;
    color: black;
    background-color: rgb(157, 195, 249);
}

.note-item__delete {
    text-align: right;
    margin: 0 1% 0 0;
    padding: 1%;
    font-size: 18px;
    color: orangered;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}